 :root {
  --stipenny-white: #fff;
  --stipenny-sidebar-bg:#010065;
 }

html,body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

input.form-control, .form-select {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.grey {
  color: #f2f2f2;
}

.grey-bg {
  background-color: #f2f2f2;
}

.toast-right {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 99;
}
